@import url(styles/cabecalho.css);
@import url(styles/seções.css);
@import url(styles/vagas.css);
@import url(styles/depoimento.css);
@import url(styles/rodape.css);


:root{
    --bg-color: #FFF;
    --preto: #101828;
    --vinho: #8E2424;
    --cinza: #667085;
    --fonte: 'Inter', sans-serif;
}

body{
    background: var(--bg-color);
    font-family: var(--fonte);
}
main{
    font-family: var(--fonte);
}
