.cabecalho{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fonte);
    padding: 1.5rem 5rem;
}
.cabecalho__menu{
    list-style: none;
}
.cabecalho__item{
    list-style: none;
    display: inline-block;
    color: var(--cinza);
    padding: 0 .8rem;
    font-weight: 500;
    font-size: 1rem;
    transition: .3s;
}
.cabecalho__item:hover{
    color: var(--vinho);
}
.cabecalho__cadastro{
    color: var(--bg-color);
    background-color: var(--vinho);
    padding: .7rem 1rem;
    border-radius: .5rem;
    margin: 0 .3rem;
}